@model List<GDHOTE.Hub.CoreObject.ViewModels.PaymentTypeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Payment Type</h2>
<p>
    @Html.ActionLink("New Payment Type", "New", "PaymentType", null, new { @class = "result-list-button" })
</p>


@if (Model == null)
{
    <p>No record(s) found</p>
}
else
{
    <div id="responsive">
        <div class="form-group">
            @Html.AntiForgeryToken()
        </div>
        <div>
            <table id="paymenttypes" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var paymentType in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(paymentType.Name, "Edit", "PaymentType", new { id = paymentType.Id }, null)</td>
                            <td>@paymentType.Status</td>
                            <td>@paymentType.DateCreated.ToString("dd-MMM-yyyy")</td>
                            <td><button data-paymenttype-id="@paymentType.Id" class="btn btn-link js-delete">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#paymenttypes").DataTable();

            $("#paymenttypes").on("click", ".js-delete", function () {
                var button = $(this);

                var id = button.attr("data-paymenttype-id");

                var form = $('#responsive');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                //Submit request
                var request = { __RequestVerificationToken: token };

                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("DeletePaymentType", "PaymentType")/' + id,
                            method: "POST",
                            data: request,
                            success: function (data) {
                                if (data !== null) {
                                    if (data.ErrorCode === "00") {
                                        swal({
                                            title: "Success",
                                            text: "success",
                                            type: "success"
                                        });

                                        window.location.reload(true);
                                    }
                                    else {
                                        alert(data.ErrorMessage);
                                    }
                                };

                            }
                        });
                    }
                });

            });
        });
    </script>
}