
@model GDHOTE.Hub.CoreObject.DataTransferObjects.PasswordResetRequest


@{
    ViewBag.Title = "Forgot Password";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-wrapper">
    <div class="card">
        <section id="loginForm">
            <h2>Forgot Password</h2>
            <hr />
            <div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div> @Html.AntiForgeryToken()</div>
                    <span class="text-danger">@ViewBag.ErrorBag</span>
                    <p>Enter your username below and we will email you a link to reset your password.</p>
                    <br />
                    <span class="text-danger">@ViewBag.ErrorBag</span>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "EmailAddress", @class = "form-control", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" class="btn btn-primary" value="Reset Password" />
                        </div>
                    </div>
                    <div>
                        <a class="forgot-password" href='@Url.Action("Login","Account")'>Back to Sign In</a>
                    </div>
                }

            </div>

        </section>

    </div>


</div>