
@model GDHOTE.Hub.CoreObject.DataTransferObjects.AdminLoginRequest


@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-wrapper">
    <div class="card">
        <section id="loginForm">
            <h2>Account Sign In</h2>
            <div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    <span class="text-danger">@ViewBag.ErrorBag</span>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email Address", @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                    <span class="text-danger">@ViewBag.LoginError</span>
                    
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </div>

        </section>

    </div>


</div>