
@model GDHOTE.Hub.CoreObject.DataTransferObjects.AdminLoginRequest


@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Please sign in</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email Address", @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>

                <div class="col-sm-3">
                    <button type="submit" class="btn btn-info pul">Sign in</button>
                    <span class="text-danger">@ViewBag.LoginError</span>
                </div>

                <div class="col-sm-3">
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                </div>
            </div>
        </div>

    }
</div>
@section scripts
{
    <script>
        $(window).on("load", function () {
            /* loading screen */
            $(".loader_wrapper").fadeOut("slow");
        });
    </script>
    }