@using System.Collections
@using GDHOTE.Hub.Core.Models
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("GDHOTE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    IEnumerable<MainMenu> mainMenus = ViewBag.MainMenu;
                    IEnumerable<RoleSubMenuView> subMenus = ViewBag.SubMenu;
                    var deployedName = ViewBag.DeployedAppName;

                    if (mainMenus != null)
                    {
                        foreach (var mainMenu in mainMenus)
                        {
                            var childrenMenu = subMenus.ToList().Where(s => s.MenuId == mainMenu.MenuId && s.RoleMenuStatus.Equals("A")).OrderBy(s => s.DisplaySequence);
                            if (childrenMenu.Any())
                            {
                                @:<li class="dropdown">
                                    @:<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@mainMenu.Name<span class="caret"></span></a>
                                        @:<ul class="dropdown-menu">
                                        foreach (var child in childrenMenu)
                                        {
                                            @:<li><a href="@deployedName@child.Url">@child.Name</a></li>
                                           
                                        }
                                        @:</ul>
                                @:</li> 
                            }
                           
                        }
                    }

                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
