@model List<GDHOTE.Hub.CoreObject.Models.ActivityType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity Types</h2>

<p>
    @Html.ActionLink("New Activity Type", "New", "ActivityType", null, new { @class = "btn btn-primary" })
</p>


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="activitytypes" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Dependency</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activityType in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(activityType.Description, "Edit", "ActivityType", new { id = activityType.ActivityTypeId }, null)</td>
                        <td>@activityType.Status</td>
                        <td>@activityType.DependencyTypeId</td>
                        <td><button data-activitytype-id="@activityType.ActivityTypeId" class="btn btn-link js-delete">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#activitytypes").DataTable();

            $("#activitytypes").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "../api/v1/activitytype/deleteactivitytype?id=" + button.attr("data-activitytype-id"),
                            method: "DELETE",
                            success: function () {
                                swal({
                                    title: "Success",
                                    text: "success",
                                    type: "success"
                                });

                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}

