@model GDHOTE.Hub.CoreObject.DataTransferObjects.MemberInfoResponse


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Member Details Page</h4>
        </div>
        <div class="modal-body">
            @*<div class="form-group">
                    <label id="lblnokresponse"></label>
                </div>*@
            @if (Model == null)
            {

                <p>No record(s) found</p>
            }
            else
            {
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Personal Info</div>
                        @if (Model.Member == null)
                        {
                            <p>No record(s) found</p>
                        }
                        else
                        {
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label for="" class="form__label">Member Code</label>
                                            @*@Html.LabelFor(m => m.Member.MemberCode)*@
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.Member.MemberCode)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*<label id="lblaction">Name</label>*@
                                            <label for="" class="form__label">Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <label id="lblaction"> @Model.Member.FirstName , @Model.Member.Surname</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*@Html.LabelFor(m => m.Member.DateOfBirth)*@
                                            <label for="" class="form__label">DOB</label>
                                        </div>
                                        <div class="col-md-9">
                                            @Model.Member.DateOfBirth.ToString("dd-MMM-yyyy")
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*@Html.LabelFor(m => m.Member.MaritalStatus)*@
                                            <label for="" class="form__label">Marital Status</label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.Member.MaritalStatus)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.Member.Gender)
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.Member.Gender)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*@Html.LabelFor(m => m.Member.MemberStatus)*@
                                            <label for="" class="form__label">Member Status</label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.Member.MemberStatus)
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Contact Info</div>
                        @if (Model.MemberDetails == null)
                        {
                            <p>No record(s) found</p>
                        }
                        else
                        {
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*@Html.LabelFor(m => m.MemberDetails.MobileNumber)*@
                                            <label for="" class="form__label">Mobile No</label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.MemberDetails.MobileNumber)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*@Html.LabelFor(m => m.MemberDetails.EmailAddress)*@
                                            <label for="" class="form__label">Email Address</label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.MemberDetails.EmailAddress)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*@Html.LabelFor(m => m.MemberDetails.AlternateNumber)*@
                                            <label for="" class="form__label">Alternate No</label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.MemberDetails.AlternateNumber)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @*@Html.LabelFor(m => m.MemberDetails.ResidenceAddress)*@
                                            <label for="" class="form__label">Address</label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.MemberDetails.ResidenceAddress)
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Activities</div>
                        @if (Model.Activities.Count == 0)
                        {
                            <p>No record(s) found</p>
                        }
                        else
                        {
                            <div>
                                <table id="memberactivities" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Activity</th>
                                            <th>StartDate</th>
                                            <th>EndDate</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var activity in Model.Activities)
                                        {
                                            <tr>
                                                <td>@activity.ActivityType</td>
                                                <td>@(activity.StartDate.ToString("dd-MMM-yyyy") ?? "")</td>
                                                <td>@(activity.EndDate?.Date.ToString("dd-MMM-yyyy"))</td>
                                                <td>@(activity.DateCreated.ToString("dd-MMM-yyyy") ?? "")</td>
                                                @*<td><button id="btn-delete-bank-details" data-bank-details-id="@activity.Id" class="btn btn-link js-action">Delete</button></td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Other Info</div>
                        @if (Model.Member == null)
                        {
                            <p>No record(s) found</p>
                        }
                        else
                        {
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.Member.MagusDate)
                                        </div>
                                        <div class="col-md-9">
                                            @(Model.Member.MagusDate?.Date.ToString("dd-MMM-yyyy"))
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.MemberDetails.DateWedded)
                                        </div>
                                        <div class="col-md-9">
                                            @(Model.MemberDetails.DateWedded?.Date.ToString("dd-MMM-yyyy"))
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.MemberDetails.YearGroupId)
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.MemberDetails.YearGroupId)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.MemberDetails.GuardianAngel)
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DisplayFor(m => m.MemberDetails.GuardianAngel)
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <button type="button" data-dismiss="modal" class="btn green button-cancel">Close<i class="fa fa-check"></i></button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
