@model List<GDHOTE.Hub.Core.Models.Member>

@{
    ViewBag.Title = "ApproveMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Approve Member</h2>

@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="members" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Surname</th>
                    <th>Other Name(s)</th>
                    <th>Sex</th>
                    <th>Martial Status</th>
                    <th>Status</th>
                    <th>Date Of Birth</th>
                    <th>Magus</th>
                    <th>Magus Date</th>
                    <th>Record Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <td>@member.Surname</td>
                        <td>@member.FirstName,  @member.MiddleName </td>
                        <td>@member.Sex</td>
                        <td>@member.MartialStatus</td>
                        <td>@member.StatusCode</td>
                        <td>@member.DateOfBirth.ToString("dd-MMM-yyyy")</td>
                        <td>@member.MagusFlag</td>
                        <td>@(member.MagusDate?.Date.ToString("dd-MMM-yyyy") ?? "") </td>
                        <td>@member.RecordDate.ToString("dd-MMM-yyyy")</td>
                        <td><button data-member-id="@member.MemberKey" class="btn btn-link js-action">Approve</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#members").DataTable();


            $("#members").on("click", ".js-action", function () {
                //debugger;
                var button = $(this);
                var memberKey = button.attr("data-member-id");

                var data = $('#members').DataTable().rows($(this).closest("tr")).data();

                var viewModel = { MemberKey: memberKey, Surname: data[0][0], Sex: data[0][2], ApprovedBy: memberKey };


                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/hub/member/approvemember/",
                            dataType: 'json',
                            method: "POST",
                            data: viewModel,
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}
