@model List<GDHOTE.Hub.CoreObject.ViewModels.MemberViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>
<p>
    @Html.ActionLink("New Member", "New", "Member", null, new { @class = "btn btn-primary" })
</p>


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div id="responsive">
        <div class="form-group">
            @Html.AntiForgeryToken()
        </div>

        <div>
            <table id="members" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Martial Status</th>
                        <th>Status</th>
                        <th>Date Of Birth</th>
                        <th>Magus</th>
                        <th>Magus Date</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member in Model)
                    {
                        <tr>
                            <td><button id="btn-member-info" data-notification-id="@member.Id" class="btn btn-link js-action">@member.FirstName, @member.Surname</button></td>
                            <td>@member.Gender</td>
                            <td>@member.MaritalStatus</td>
                            <td>@member.MemberStatus</td>
                            <td>@member.DateOfBirth.ToString("dd-MMM-yyyy")</td>
                            <td>@member.MagusStatus</td>
                            <td>@(member.MagusDate?.Date.ToString("dd-MMM-yyyy")) </td>
                            <td>@member.DateCreated.ToString("dd-MMM-yyyy")</td>
                            <td><button data-member-id="@member.Id" class="btn btn-link js-delete">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div id='memberinfomodal' class='modal hide fade in'>
            <div id='divResult'>
            </div>
        </div>

        @*<div id="memberinfomodal" class="modal fade" tabindex="-1" aria-hidden="true">
                @Html.Action("GetMemberInfo", "Member");
                <div id="divResult"></div>
            </div>*@
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#members").DataTable();

           $("#members").on("click", ".js-action", function () {

                var button = $(this);
                var id = button.attr("data-notification-id");

               var form = $('#responsive');
               var token = $('input[name="__RequestVerificationToken"]', form).val();

               var request = { __RequestVerificationToken: token };
                //var url = $('#gameModal').data('url') + id;

               //$.get(url, function(data) {
               //    $('#gameContainer').html(data);

               //    $('#gameModal').modal('show');
               //});

               $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetMemberInfo", "Member")/' + id,
                    data: request,
                    success: function (data) {
                        console.log(data);
                        $('#divResult').html(data);
                        $('#memberinfomodal').removeClass('hide');
                        if (data !== null) {

                            //console.log('Am here');
                            //console.log(data.Member);
                            //if (data.ErrorCode === "00") {
                            //    swal({
                            //        title: "Success",
                            //        text: "success",
                            //        type: "success"
                            //    });

                            //    window.location.reload(true);
                            //} else {
                            //    alert(data.ErrorMessage);
                            //}
                        };
                       $('#memberinfomodal').modal({
                                keyboard: true
                            },
                            'show');
                       return false;

                    }
                });
            });

            $("#members").on("click", ".js-delete", function() {
                    var button = $(this);

                    var id = button.attr("data-member-id");

                    var form = $('#responsive');
                    var token = $('input[name="__RequestVerificationToken"]', form).val();

                    //Submit request
                    var request = { __RequestVerificationToken: token };

                    bootbox.confirm("Are you sure you want to proceed?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: '@Url.Action("DeleteMember", "Member")/' + id,
                                    method: "POST",
                                    data: request,
                                    success: function(data) {
                                        if (data !== null) {
                                            if (data.ErrorCode === "00") {
                                                swal({
                                                    title: "Success",
                                                    text: "success",
                                                    type: "success"
                                                });

                                                window.location.reload(true);
                                            } else {
                                                alert(data.ErrorMessage);
                                            }
                                        };

                                    }
                                });
                            }
                        });




            });



        });
    </script>
}
