@model List<GDHOTE.Hub.Core.Models.Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="members" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Member Code</th>
                    <th>Surname</th>
                    <th>Other Name(s)</th>
                    <th>Gender</th>
                    <th>Martial Status</th>
                    <th>Status</th>
                    <th>Date Of Birth</th>
                    <th>Magus</th>
                    <th>Magus Date</th>
                    <th>Record Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <td>@member.MemberCode</td>
                        <td>@member.Surname</td>
                        <td>@member.FirstName, @member.MiddleName </td>
                        <td>@member.Gender</td>
                        <td>@member.MartialStatus</td>
                        <td>@member.StatusCode</td>
                        <td>@member.DateOfBirth.ToString("dd-MMM-yyyy")</td>
                        <td>@member.MagusFlag</td>
                        <td>@(member.MagusDate?.Date.ToString("dd-MMM-yyyy") ?? "") </td>
                        <td>@member.RecordDate.ToString("dd-MMM-yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
