@model GDHOTE.Hub.CoreObject.ViewModels.AdminUserFormViewModel

@{
    ViewBag.Title = "User Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var pagename = "";
    if (Model != null)
    {
        pagename = Model.FirstName == null ? "New User" : "Edit User";
    }

}
<h2>@pagename</h2>

<div id="responsive">
    @using (Html.BeginForm("Save", "User"))
    {
        <span class="text-danger">@ViewBag.ErrorBag</span>
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="form-group">
            <label for="RoleTypes" id="RoleTypes">Role Type</label>
            @Html.DropDownList("drpRoleType", new SelectList(Model.RoleTypes, "Id", "Name"), "Select Type", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RoleId)
            @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.Roles, "RoleId", "RoleName"), "Select Role", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RoleId)
        </div>
        <div>
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>


@section scripts
{
    <script>
 $(document).ready(function () {
            $("#drpRoleType").change(function () {
                var roleTypeId = $(this).val();
                if (roleTypeId === '' || roleTypeId === 'Select Role Type') {
                    alert('Please select a valid Role Type');
                    return;
                }

                var form = $('#responsive');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                //Submit request
                var request = { __RequestVerificationToken: token };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetRolesByRoleTypeId", "Role")/' + roleTypeId,
                    data: request,
                    success: function (data) {
                        var slctSubcat = $('#RoleId'), option = "";
                        slctSubcat.empty();
                        for (var i = 0; i < data.length; i++) {
                            option = option + "<option value='" + data[i].RoleId + "'>" + data[i].RoleName + "</option>";
                        }
                        slctSubcat.append(option);
                        $("<option>", { value: '', selected: true, text: 'Select Role' }).prependTo(slctSubcat);
                    },
                    error: function () {
                        alert("error");
                    }

                });
            });


        });
    </script>
}