To: @Model.To
From: no-reply@TransferApp.com
Subject: @Model.Subject
Bcc: @Model.Bcc

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>GDHOTE</title>
</head>

<body>
    <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td valign="top" class="header"><img src="http://purplesclothier.com/Gdhotecore/images/wedding-anniversary-2.jpg" width="650" height="230" alt="GDHOTE" style="display:block;" /></td>
            </tr>
            <tr>
                <td valign="top" class="mainbody" style="padding-left: 38px; padding-right: 38px">
                    <table width="574px" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
							<tr>
                                <td>
									<br /><br />
								</td>
                            </tr>
							<tr>
                                <td style="font-family: 'PT Sans', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #243238;">
										<span>To the  <span style="font-weight: bold;"> @Model.FamilyName (s)</span>, <br /><br />
								</td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 20px 0;">
									 Dear Mr & Mrs  @Model.FamilyName <br><br> 
                                     We wish you a very Happy Wedding Anniversary!<br><br>
									 We all hear that marriage is not easy and so we rejoice with you as you celebrate yet another year of marital bliss.<br><br>
									 A man and a woman coming together in Holy Union is a good thing in the sight of God.<br><br>
									 We pray that God will perfect all that concerns your marriage union and that you will always have cause to give thanks for each other. <br><br>
									 Remember that all relationships are blessed.<br><br>
									 And we remember the blessing that is your marriage today.<br><br>
									 Enjoy your day together.<br><br><br>
									 You’ve earned it!<br><br><br>
									 Best.<br><br><br>									 
                                </td>
                            </tr>
							<tr>
                                <td style="font-family: 'PT Sans', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #243238;">
								   <span style="color:#5D2785;"><strong>From all of us at GDHOTE</strong></span><br>										 
								</td>
                            </tr>
                            <tr valign="top">
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
                 
          
            <tr>
                <td valign="top" class="footer" style="border-bottom:#dad9dc solid 1px; padding-left: 38px; padding-right: 38px">
                    <table width="574px" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding: 20px 0 20px 0;">
                                    <span style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#575756; line-height: 18px;">
                                        <br>
                                        Copyright © GDHOTE | <a href="http://www.GDHOTE.com" style="color: #575756; text-decoration:none;"><strong>www.GDHOTE.com</strong></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
  
</html>
