To: @Model.To
From: no-reply@TransferApp.com
Subject: @Model.Subject
Bcc: @Model.Bcc

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>GDHOTE</title>
</head>

<body>
    <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td valign="top" class="header"><img src="http://purplesclothier.com/Gdhotecore/images/wedding-anniversary-3.jpg" width="650" height="230" alt="GDHOTE" style="display:block;" /></td>
            </tr>
            <tr>
                <td valign="top" class="mainbody" style="padding-left: 38px; padding-right: 38px">
                    <table width="574px" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
							<tr>
                                <td>
									<br /><br />
								</td>
                            </tr>
							<tr>
                                <td style="font-family: 'PT Sans', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #243238;">
										<span>To the  <span style="font-weight: bold;"> @Model.FamilyName (s)</span>, <br /><br />
								</td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 20px 0;">
                                     Dear Mr & Mrs  @Model.FamilyName <br><br> 
									 Happy Wedding Anniversary!<br><br>
									 It must be wonderful to look at all you have both come through together and thank God for it all. <br><br>
									 Today we wish you both well and pray with you that your marriage will continue to serve its Divine purpose in your lives and in the lives of the members of your family. <br><br>
									 Congratulations for seeing another year of caring for each other, supporting, uplifting and building up each other. We pray that you see many more days together in joy and bliss. <br><br>
									 Have a great day.<br><br>
									 With love from us<br><br><br>									  								 
                                </td>
                            </tr>
							<tr>
                                <td style="font-family: 'PT Sans', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #243238;">
								   <span style="color:#5D2785;"><strong>From all of us at GDHOTE</strong></span><br>										 
								</td>
                            </tr>
                            <tr valign="top">
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
                 
          
            <tr>
                <td valign="top" class="footer" style="border-bottom:#dad9dc solid 1px; padding-left: 38px; padding-right: 38px">
                    <table width="574px" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding: 20px 0 20px 0;">
                                    <span style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#575756; line-height: 18px;">
                                        <br>
                                        Copyright © GDHOTE | <a href="http://www.GDHOTE.com" style="color: #575756; text-decoration:none;"><strong>www.GDHOTE.com</strong></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
  
</html>
