@model List<GDHOTE.Hub.CoreObject.ViewModels.MemberStatusViewModel>

@{
    ViewBag.Title = "Member Status Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Member Status</h2>
<p>
    @Html.ActionLink("New Status", "New", "MemberStatus", null, new { @class = "btn btn-primary" })
</p>


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="memberstatuses" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Member Status</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var memberStatus in Model)
                {
                <tr>
                    <td>@Html.ActionLink(memberStatus.Name, "Edit", "MemberStatus", new { id = memberStatus.Id }, null)</td>
                    <td>@memberStatus.Status</td>
                    <td>@memberStatus.DateCreated.ToString("dd-MMM-yyyy")</td>
                    <td><button data-membershipstatus-id="@memberStatus.Id" class="btn btn-link js-delete">Delete</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#membershipStatuses").DataTable();

            $("#membershipStatuses").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "../api/v1/membershipStatus/delete-membership-status?id=" + button.attr("data-membershipstatus-id"),
                            method: "DELETE",
                            success: function () {
                                swal({
                                    title: "Success",
                                    text: "success",
                                    type: "success" 
                                });

                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}

