@model List<GDHOTE.Hub.CoreObject.Models.MemberDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Details</h2>
@*<p>
        @Html.ActionLink("New Contact", "New", "MemberDetails", null, new { @class = "btn btn-primary" })
    </p>*@


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="members" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Member Code</th>
                    <th>Mobile No</th>
                    <th>Email</th>
                    <th>State Of Origin</th>
                    <th>Country Of Origin</th>
                    <th>Residence Country</th>
                    <th>Year Group</th>
                    <th>Record Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(!string.IsNullOrEmpty(member.MobileNumber) ? member.MobileNumber : "NA", "Edit", "MemberDetails", new { id = member.MemberDetailsId }, null)</td>
                        <td>@member.MobileNumber</td>
                        <td>@member.EmailAddress</td>
                        <td>@member.StateOfOriginCode</td>
                        <td>@member.CountryOfOriginCode</td>
                        <td>@member.ResidenceCountryCode</td>
                        <td>@member.YearGroupCode</td>
                        <td>@member.RecordDate.ToString("dd-MMM-yyyy")</td>
                        <td><button data-member-id="@member.MemberDetailsId" class="btn btn-link js-delete">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#members").DataTable();

            $("#members").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "../api/v1/hub/memberdetails/delete-member-details?id=" + button.attr("data-member-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}

