@model List<GDHOTE.Hub.CoreObject.ViewModels.ActivityViewModel>
 

@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activities</h2>


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div id="responsive">
        <div class="form-group">
            @Html.AntiForgeryToken()
        </div>
        <div>
            <table id="Activitys" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Activity</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink($"{ activity.FirstName}, {activity.Surname}", "MemberActivity", "Activity", new { id = activity.MemberKey }, null)</td>
                            <td>@activity.ActivityType</td>
                            <td>@activity.StartDate.ToString("dd-MMM-yyyy")</td>
                            <td>@(activity.EndDate?.Date.ToString("dd-MMM-yyyy"))</td>
                            <td>@activity.Status</td>
                            <td>@activity.DateCreated.ToString("dd-MMM-yyyy")</td>
                            <td><button data-Activity-id="@activity.Id" class="btn btn-link js-delete">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Activitys").DataTable();

            $("#Activitys").on("click", ".js-delete", function () {
                var button = $(this);
                var id = button.attr("data-Activity-id");

                var form = $('#responsive');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                //Submit request
                var request = { __RequestVerificationToken: token };

                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("DeleteActivity", "Activity")/' + id,
                            method: "POST",
                            data: request,
                            success: function (data) {
                                if (data !== null) {
                                    if (data.ErrorCode === "00") {
                                        swal({
                                            title: "Success",
                                            text: "success",
                                            type: "success"
                                        });

                                        window.location.reload(true);
                                    }
                                    else {
                                        alert(data.ErrorMessage);
                                    }
                                };

                            }
                        });
                    }
                });

            });
        });
    </script>
}

