@model List<GDHOTE.Hub.CoreObject.ViewModels.ActivityViewModel>

@{
    ViewBag.Title = "Member Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Member Activities</h2>
<p><button id="btn-add-activity" class="btn btn-link js-action">Add Activity</button></p>

@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div id="responsive">
        <div><input type="hidden" id="MemberId" value="@ViewBag.MemberId" /></div>
        <div class="form-group">
            @Html.AntiForgeryToken()
        </div>
        <div>
            <table id="activities" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Activity</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Remarks</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var activity in Model)
                    {
                        <tr>
                            <td>@i</td>
                            @{ i++; }
                            <td>@activity.ActivityType</td>
                            <td>@activity.StartDate.ToString("dd-MMM-yyyy")</td>
                            <td>@(activity.EndDate?.Date.ToString("dd-MMM-yyyy"))</td>
                            <td>@activity.Status</td>
                            <td>@activity.Remarks</td>
                            <td>@activity.DateCreated.ToString("dd-MMM-yyyy")</td>
                            <td><button edit-member-activity="@activity.ActivityKey" class="btn btn-link js-edit">Edit</button></td>
                            <td><button delete-member-activity="@activity.ActivityKey" class="btn btn-link js-delete">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="activitymodal" class="modal fade" tabindex="-1" aria-hidden="true">
            @Html.Action("NewMemberActivity", "Activity")
        </div>


        <p>
            @Html.ActionLink("Back", "Index", "Activity")
        </p>
    </div>
}


@section scripts{
    <script>
        $(document).ready(function() {

            $(function() {
                $('#StartDate, #EndDate').datepicker({
                    format: 'dd-M-yyyy',
                    autoclose: 1,
                    todayHighlight: 1
                });
            });

            $("#btn-add-activity").button().click(function() {

                //perform the url load  then
                $('#activitymodal').modal({
                        keyboard: true
                    },
                    'show');
                return false;

            });

            $("#btn-submit-activity").button().click(function() {

                if (!confirm('Are you sure?')) e.preventDefault();

                var memberId = $("#MemberId").val();
                var activityTypeId = $("#ActivityTypeId").val();
                var startDate = $("#StartDate").val();
                var endDate = $("#EndDate").val();
                var remarks = $("#Remarks").val();

                var form = $('#activitymodal');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                //Submit request
                var request = {
                    __RequestVerificationToken: token, MemberId: memberId, ActivityTypeId: activityTypeId,
                    StartDate: startDate, EndDate: endDate, Remarks: remarks
                };


                $.ajax({
                    url: '@Url.Action("SaveMemberActivty", "Activity")/',
                    type: 'json',
                    method: "POST",
                    data: request,
                    success: function(data) {
                        if (data.ErrorCode === "00") {
                            alert(data.ErrorMessage);
                            $('#nokdetailsmodal').modal('hide');
                            window.location.reload(true);
                        } else {
                            var errormessage = ((data.ErrorMessage === undefined || data.ErrorMessage == null)
                                ? data
                                : data.ErrorMessag);
                            $('#lblnokresponse').text(errormessage);
                            $('#lblnokresponse').css("color", "red");
                        }
                    },
                    error: function() {
                        alert("error");
                    }
                });

            });


            $("#activities").on("click", ".js-delete", function () {

                var button = $(this);
                var id = button.attr("delete-member-activity");

                var form = $('#responsive');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                //Submit request
                var request = { __RequestVerificationToken: token };

                bootbox.confirm("Are you sure you want to proceed?",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: '@Url.Action("DeleteActivity", "Activity")/' + id,
                                method: "POST",
                                data: request,
                                success: function(data) {
                                    if (data !== null) {
                                        if (data.ErrorCode === "00") {
                                            swal({
                                                title: "Success",
                                                text: "success",
                                                type: "success"
                                            });
                                            window.location.reload(true);
                                        }
                                        else {
                                            alert(data.ErrorMessage);
                                        }
                                    };

                                }
                            });
                        }
                    });

            });


            $("#activities").on("click", ".js-edit", function () {
                alert('Edit clicked');

            });

        });

    </script>
}

