@model GDHOTE.Hub.CoreObject.ViewModels.RoleFormViewModel
@{
    ViewBag.Title = "RoleForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var pagename = "";
    if (Model != null)
    {
        pagename = Model.RoleName == null ? "New Role" : "Edit Role";
    }

}
<h2>@pagename</h2>
@using (Html.BeginForm("Save", "Role"))
{
    <div>
        <span class="text-danger">@ViewBag.ErrorBag</span>
        <div class="form-group">
            @Html.LabelFor(r => r.RoleName)
            @Html.TextBoxFor(r => r.RoleName, new {@class = "form-control gdhote-text-capitalize"})
            @Html.ValidationMessageFor(r => r.RoleName)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
        </div>
    </div>

}
