@*@model List<GDHOTE.Hub.Core.Models.State>*@

@{
    ViewBag.Title = "States";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>States</h2>
<p>
    @Html.ActionLink("New State", "New", "State", null, new { @class = "result-list-button" })
</p>


@*@if (Model == null)
    {
        <p>No record(s) found</p>
    }
    else
    {

    }*@
<div>
    <table id="states" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Country Code</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var state in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(state.StateName, "Edit", "State", new { id = state.Id }, null)</td>
                        <td>@state.StateCode</td>
                        <td>@state.CountryCode</td>
                        <td>@state.Status</td>
                        <td><button data-state-id="@state.Id" class="btn btn-link js-delete">Delete</button></td>
                    </tr>
                }*@
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#states").DataTable({
                ajax: {
                    url: "/api/v1/hub/state/get-states/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "stateName",
                        render: function (data, type, state) {
                            return "<a href='/state/edit/" + state.stateId + "'>" + state.stateName + "</a>";
                        }
                    },
                    {
                        data: "stateCode"
                    },
                    {
                        data: "stateName"
                    },
                    {
                        data: "status"
                    },
                    {
                        data: "stateId",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-state-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#states").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            //url: "/api/state" + button.attr("data-state-id"),
                            url: "/api/v1/hub/state/delete-state?id=" + button.attr("data-state-id"),
                            method: "DELETE",
                            success: function () {
                                swal({
                                    title: "Success",
                                    text: "success",
                                    type: "success" 
                                });

                                table.row(button.parents("tr")).remove().draw();
                                //button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}
