@model GDHOTE.Hub.CoreObject.ViewModels.StateFormViewModel
@{
    ViewBag.Title = "NewState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var pagename = "";
    if (Model != null)
    {
        pagename = Model.Name == null ? "New State" : "Edit State";
    }

}
<h2>@pagename</h2>
@using (Html.BeginForm("Save", "State"))
{
    <div>
        @*@Html.ValidationSummary(true, "Please fix the below errors.")*@
        <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(s => s.Name)
                @Html.TextBoxFor(s => s.Name, new { @class = "form-control gdhote-text-capitalize" })
                @Html.ValidationMessageFor(s => s.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.CountryId)
                @Html.DropDownListFor(s => s.CountryId, new SelectList(Model.Countries, "Id", "Name"), "Select Country", new { @class = "form-control" })
                @Html.ValidationMessageFor(s => s.CountryId)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div>
                @Html.AntiForgeryToken()
            </div>
        </div>
    </div>

}
