@model List<GDHOTE.Hub.CoreObject.ViewModels.AccountViewModel>

@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>
<p>
    @Html.ActionLink("New Account", "CreateInternalAccount", "MemberAccount", null, new { @class = "btn btn-primary" })
</p>


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div id="responsive">
        <div class="form-group">
            @Html.AntiForgeryToken()
        </div>

        <div>
            <table id="accounts" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>AccountNo</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Bank</th>
                        <th>Currency</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model)
                    {
                    <tr>
                        <td>@Html.ActionLink(account.AccountNumber, "Edit", "MemberAccount", new { id = account.Id }, null)</td>
                        <td>@account.AccountName</td>
                        <td>@($"{account.Balance:#,##0.00}") </td>
                        <td>@account.BankName</td>
                        <td>@account.Currency</td>
                        <td>@account.Status</td>
                        <td>@account.DateCreated.ToString("dd-MMM-yyyy")</td>
                        <td><button data-account-id="@account.Id" class="btn btn-link js-delete">Delete</button></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#accounts").DataTable();

            $("#accounts").on("click", ".js-delete", function () {
                var button = $(this);
                var id = button.attr("data-account-id");

                var form = $('#responsive');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                //Submit request
                var request = { __RequestVerificationToken: token };

                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("DeleteAccount", "MemberAccount")/' + id,
                            method: "POST",
                            data: request,
                            success: function (data) {
                                if (data !== null) {
                                    if (data.ErrorCode === "00") {
                                        swal({
                                            title: "Success",
                                            text: "success",
                                            type: "success"
                                        });

                                        window.location.reload(true);
                                    }
                                    else {
                                        alert(data.ErrorMessage);
                                    }
                                };

                            }
                        });
                    }
                });

            });
        });
    </script>
}

