@model List<GDHOTE.Hub.CoreObject.Models.Country>
@{
    ViewBag.Title = "Countries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Countries</h2>
<p>
    @Html.ActionLink("New Country", "New", "Country", null, new { @class = "btn btn-primary" })
</p>


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="countries" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(country.CountryCode, "Edit", "Country", new { id = country.CountryId }, null)</td>
                        <td>@country.CountryName</td>
                        <td>@country.Status</td>
                        <td><button data-country-id="@country.CountryId" class="btn btn-link js-delete">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#countries").DataTable();

            $("#countries").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to proceed?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "../api/v1/country/delete-country?id=" + button.attr("data-country-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}
