@model GDHOTE.Hub.CoreObject.ViewModels.RoleMenuFormViewModel

@{
    ViewBag.Title = "RoleMenuForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var pagename = "";
    if (Model != null)
    {
        pagename = Model.SubMenuId == null ? "New Role Menu" : "Edit Role Menu";
    }

}
<h2>@pagename</h2>
@using (Html.BeginForm("Save", "RoleMenu"))
{
    <div id="responsive">
        <div>
            <span class="text-danger">@ViewBag.Error</span>
        </div>
        <div class="form-group">
            <label for="MainMenus" id="MainMenus">Main Menu</label>
            @Html.DropDownList("drpMainMenu", new SelectList(Model.MainMenus, "Id", "Name"), "Select Type", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.SubMenuId)
            @Html.DropDownListFor(r => r.SubMenuId, new SelectList(Model.SubMenus, "Id", "Name"), "Select Sub Menu", new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.SubMenuId)
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.RoleId)
            @Html.DropDownListFor(r => r.RoleId, new SelectList(Model.Roles, "RoleId", "RoleName"), "Select Role", new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.RoleId)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
        </div>
    </div>

}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#drpMainMenu").change(function () {
                var id = $(this).val();
                if (id === '' || id === 'Select Menu') {
                    alert('Please select a valid menu');
                    return;
                }

                var form = $('#responsive');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                //Submit request
                var request = { __RequestVerificationToken: token };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSubMenusByMainMenu", "SubMenu")/' + id,
                    data: request,
                    success: function (data) {
                        var slctSubcat = $('#SubMenuId'), option = "";
                        slctSubcat.empty();
                        for (var i = 0; i < data.length; i++) {
                            option = option + "<option value='" + data[i].Id + "'>" + data[i].Name + "</option>";
                        }
                        slctSubcat.append(option);
                        $("<option>", { value: '', selected: true, text: 'Select Sub Menu' }).prependTo(slctSubcat);
                    },
                    error: function () {
                        alert("error");
                    }

                });
            });


        });
    </script>
}

