@model List<GDHOTE.Hub.CoreObject.ViewModels.PaymentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Payments</h2>
<p>
    @Html.ActionLink("New Payment", "New", "Payment", null, new { @class = "result-list-button" })
</p>


@if (Model == null || Model.Count == 0)
{
    <p>No record(s) found</p>
}
else
{
    <div>
        <table id="paymentTypes" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Narration</th>
                    <th>Amount</th>
                    <th>Mode</th>
                    <th>Payment Type</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(payment.Surname + "," + @payment.FirstName, "Edit", "Payment", new { id = payment.Id }, null)</td>
                        <td>@payment.Narration</td>
                        <td>@($"{payment.Amount:#,##0.00}") </td>
                        <td>@payment.PaymentMode</td>
                        <td>@payment.PaymentType</td>
                        <td>@payment.DateCreated.ToString("dd-MMM-yyyy | HH:mm")</td>
                        <td><button data-customer-id="@payment.Id" class="btn btn-link js-delete">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#paymentTypes").DataTable();

        });
    </script>
}
