@model GDHOTE.Hub.CoreObject.ViewModels.PaymentFormViewModel
@{
    ViewBag.Title = "PaymentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var pagename = "";
    if (Model != null)
    {
        pagename = Model.MemberKey == 0 ? "New Payment" : "Edit Payment";
    }

}
<h2>@pagename</h2>


@using (Html.BeginForm("Save", "Payment"))
{
    <div>
        <span class="text-danger">@ViewBag.ErrorBag</span>
        @*<div class="form-group">
                <label>Name</label>
                <div class="tt-container">
                    <input id="member" name="member" required="" type="text" value="" class="form-control" />
                </div>
            </div>*@
        <div class="form-group">
            <label>Name</label>
            <div>
                <input id="membername" name="membername" required="" type="text" value="" class="form-control" />
                <input id="memberkey" name="memberkey" type="hidden" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.PaymentTypeId)
            @Html.DropDownListFor(p => p.PaymentTypeId, new SelectList(Model.PaymentTypes, "Id", "Name"), "Select Payment Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.PaymentTypeId)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.PaymentModeId)
            @Html.DropDownListFor(p => p.PaymentModeId, new SelectList(Model.ModeOfPayments, "Id", "Name"), "Select Mode Of Payment", new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.PaymentModeId)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.CurrencyId)
            @Html.DropDownListFor(p => p.CurrencyId, new SelectList(Model.Currencies, "Id", "Name"), "Select Currency", new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.CurrencyId)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Amount)
            @Html.TextBoxFor(p => p.Amount, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Amount)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Narration)
            @Html.TextBoxFor(p => p.Narration, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Narration)
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div>@Html.AntiForgeryToken()</div>
    </div>

}


@section scripts
{
    <script>
        $(document).ready(function() {
            @*var viewModel = {
                movieIds: []
            };

          var members = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstname'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '@Url.Action("GetMember", "Member")?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#member').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'members',
                    display: 'firstname',
                    source: members
                }).on("typeahead:select",
                function(e, member) {
                    viewModel.memberkey = member.memberKey;
                });*@



            $("#membername").autocomplete({
                source: '@Url.Action("GetMember", "Member")',
                minLength: 5,
                select: function (event, ui) {
                    $(this).val(ui.item.value);
                    $(this).val(ui.item.label);
                    $("#memberkey").val(ui.item.value);
                    return false;
                },
                focus: function (event, ui) {
                    return false;
                }
            });


        });
    </script>
}




